# TEST BMO TRIAXYS MESSAGE

In [3]:
import sys
import os
home_path = os.environ['HOME']
abs_dir = os.path.dirname(os.getcwd())
cwd_path = os.path.join(abs_dir, 'boias', 'bmo_br', 'real_time')
bd_path = os.path.join(abs_dir, 'boias', 'bmo_br', 'bd')

In [4]:
sys.path.append(cwd_path)
sys.path.append(bd_path)


from bmo_database import *
from bmo_adjust_data import *
import bmo_quality_control as bqc

import pandas as pd

In [5]:
conn = connect_database_remo('PRI')
buoy_id = bmo_on(conn)

In [9]:
id = buoy_id['buoy_id'][0]
id

2

In [12]:
conn = connect_database_remo('PRI')
last_date_raw = check_last_date(conn, 'bmo_br', id)
last_date_raw = last_date_raw[0][0]
last_date_raw

datetime.datetime(2021, 4, 21, 11, 0)

In [13]:
time_interval = 24*10000 # hours interval of data to be qualified
bmo_general = get_data_table_db(conn, id, last_date_raw, 'bmo_triaxys_message', time_interval)

In [16]:
bmo_general[['begin', 'date', 'time', 'serial', 'buoyid', 'lat', 'lon', 'number_of_bands', 'initial_frequency',\
 'frequency_spacing', 'mean_average_direction', 'spread_direction', 'values']] = bmo_general.triaxys_message.str.split(',',12, expand=True)
bmo_general.head()

,buoy_id,id,date_time,triaxys_message,begin,date,time,serial,buoyid,lat,lon,number_of_bands,initial_frequency,frequency_spacing,mean_average_direction,spread_direction,values
0,2,1,2020-12-11 12:04:07,"incio[?MNM$TSPMA,20201211,082900,03460,TAB0000...",incio[?MNM$TSPMA,20201211,082900,03460,TAB00000,,,76,.060,.005,134.60,52.34,".2508E+00,194.5,31.8,.7158E+00,196.3,26.5,.735..."
1,2,2,2020-12-11 14:03:32,"incio[?MNM$TSPMA,20201211,102900,03460,TAB0000...",incio[?MNM$TSPMA,20201211,102900,03460,TAB00000,,,66,.060,.005,116.95,47.80,".1864E+00,198.3,28.4,.8430E+00,200.2,23.2,.121..."
2,2,3,2020-12-11 15:04:28,"incio[?MNM$TSPMA,20201211,112900,03460,TAB0000...",incio[?MNM$TSPMA,20201211,112900,03460,TAB00000,,,70,.060,.005,129.12,48.82,".1950E+00,194.5,37.7,.7662E+00,196.0,31.3,.889..."
3,2,4,2020-12-11 16:03:57,"incio[?MNM$TSPMA,20201211,122900,03460,TAB0000...",incio[?MNM$TSPMA,20201211,122900,03460,TAB00000,,,81,.060,.005,118.28,50.83,".3065E+00,191.2,43.8,.5087E+00,192.7,36.0,.681..."
4,2,67,2020-12-16 08:02:05,"incio[?MNM$TSPMA,20201216,042900,03460,TAB0000...",incio[?MNM$TSPMA,20201216,042900,03460,TAB00000,,,65,.075,.005,80.33,46.08,".2774E+00,173.4,66.2,.2067E+00,186.4,61.9,.392..."

In [18]:
bmo_general['date_time_2'] = bmo_general['date'].astype(str) + bmo_general['time']
bmo_general['date_time_2'] = pd.to_datetime(bmo_general['date_time_2'], format='%Y%m%d%H%M%S')
bmo_general['date_time_2'].head()

0   2020-12-11 08:29:00
1   2020-12-11 10:29:00
2   2020-12-11 11:29:00
3   2020-12-11 12:29:00
4   2020-12-16 04:29:00
Name: date_time_2, dtype: datetime64[ns]

In [19]:
del bmo_general['begin']
del bmo_general['serial']
del bmo_general['buoyid']
del bmo_general['lat']
del bmo_general['lon']
del bmo_general['date']
del bmo_general['time']
del bmo_general['triaxys_message']

In [21]:
bmo_general.head()

,buoy_id,id,date_time,number_of_bands,initial_frequency,frequency_spacing,mean_average_direction,spread_direction,values,date_time_2
0,2,1,2020-12-11 12:04:07,76,.060,.005,134.60,52.34,".2508E+00,194.5,31.8,.7158E+00,196.3,26.5,.735...",2020-12-11 08:29:00
1,2,2,2020-12-11 14:03:32,66,.060,.005,116.95,47.80,".1864E+00,198.3,28.4,.8430E+00,200.2,23.2,.121...",2020-12-11 10:29:00
2,2,3,2020-12-11 15:04:28,70,.060,.005,129.12,48.82,".1950E+00,194.5,37.7,.7662E+00,196.0,31.3,.889...",2020-12-11 11:29:00
3,2,4,2020-12-11 16:03:57,81,.060,.005,118.28,50.83,".3065E+00,191.2,43.8,.5087E+00,192.7,36.0,.681...",2020-12-11 12:29:00
4,2,67,2020-12-16 08:02:05,65,.075,.005,80.33,46.08,".2774E+00,173.4,66.2,.2067E+00,186.4,61.9,.392...",2020-12-16 04:29:00

In [22]:
conn = connect_database_remo('PRI')
delete_triaxys_old_data(min(bmo_general.date_time), id, conn)

In [28]:
bmo_general = bmo_general.dropna()

In [29]:
insert_triaxys_data(bmo_general)

inserted new data