In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import pandas as pd
import numpy as np

In [2]:
import sys
import os
home_path = os.environ['HOME']
abs_dir = os.path.dirname(os.getcwd())
cwd_path = os.path.join(abs_dir, 'boias', 'axys', 'real_time')
bd_path = os.path.join(abs_dir, 'boias', 'axys', 'bd')

In [9]:
sys.path.append(cwd_path)
sys.path.append(bd_path)
from axys_database import *
from adjust_data import *
import telnet_download
import user_config as user_config

# import axys_quality_control as bqc

In [14]:
sat_number = 206837
raw_data = telnet_download.download_raw_tag(sat_number, user_config)

Successful connect to the server...
Collecting data from argos_id 206837...
PRV,5655,DS,,206837

Receive data:

In [30]:
import re

In [44]:
regex = '\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2} -\d{2}.\d{3}. \d{3}.\d{3}'
values = re.findall(regex, raw_data)

In [48]:
dates = []
lat = []
lon = []
for value in values:
    value = value.replace('  ', ' ').split(' ')
    dates.append(value[0] + ' ' + value[1])
    lat.append(value[2])
    lon.append(value[3])

In [55]:
df = pd.DataFrame(np.array([dates, lat, lon]).T, columns=['date_time', 'lat', 'lon'])
df['date_time'] = pd.to_datetime(df['date_time'], format='%Y-%m-%d %H:%M:%S')
df['lon'] = pd.to_numeric(df['lon']) - 360
df['lat'] = pd.to_numeric(df['lat'])
df

            date_time     lat     lon
0 2021-04-19 09:02:06 -25.275 -43.038
1 2021-04-19 08:59:03 -25.283 -43.068
2 2021-04-19 09:28:09 -25.280 -43.032
3 2021-04-19 09:53:45 -25.286 -43.042
4 2021-04-19 09:57:12 -25.287 -43.042
5 2021-04-19 10:09:38 -25.287 -43.042